<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="cordova-plugin-phone-state-detection"
      version="0.1.0">
    <name>Phone State Detection</name>
    <description>Phone State Detection Plugin</description>
    <license>MIT</license>
    <author>Vahn</author>
    <keywords>phonegap,phone state detection</keywords>
 
 
    <js-module src="www/listen2PhoneState.js" name="PhoneStateDetection">
        <clobbers target="window.phone_state" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneStateDetection">
                <param name="android-package" value="com.vahn.cordova.phonestatedetection.PhoneStateDetection"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <receiver android:name=".PhoneStateBroadcastReceiver" >
                    <intent-filter>
                        <action android:name="android.intent.action.PHONE_STATE" />
                    </intent-filter>
                </receiver>
        </config-file>
        
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

        <source-file src="src/android/PhoneStateDetection.java" target-dir="cordova-plugin-phone-state-detection/" />      
        <source-file src="src/android/CustomPhoneStateListener.java" target-dir="cordova-plugin-phone-state-detection/" />    
        <source-file src="src/android/PhoneStateBroadcastReceiver.java" target-dir="cordova-plugin-phone-state-detection/" />      
     </platform>          
</plugin>